---
import Layout from "../components/layout.astro";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
---

<Layout pageTittle="¿Quiénes Somos?">
    <Navbar/>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1>En Desarrollo...</h1>

    <Footer/>
</Layout>